.headerPanels {
    width : 300px;     
}
.headerPanel3  {
    width : 100px;
}
@media screen and (min-width: 100px) { /* if using min-width : screen > min-with  or using max-width :  screen < max-width   */
    .headerPanels {        
        width : 100px;        
    }
}

@media screen and (min-width: 400px) {
    .headerPanels {
        width : 130px;
        left : 70px;
        position : relative;
    }
    .headerPanel3  {
        width : 275px;
        
    }
    
}

@media screen and (min-width: 500px) {
    .headerPanels {
        width : 200px;
        left : 40px;
        
    }
    .headerPanel3  {
        width : 415px;
    }
}


@media screen and (min-width: 501px) {
    .headerPanels {
        
        
    }
    
}

@media screen and (min-width: 1000px) {
    .headerPanels {
        width : 430px;
        left : 240px;
        
    }
    .headerPanel3  {
        width : 875px;
    }
  
}

@media screen and (min-width: 1499px) {
    .headerPanels {
        width : 430px;
        left : 40px;
    }
}