
.mainboxTools {
    width : 300px;     
}

@media screen and (min-width: 100px) { /* if using min-width : screen > min-with  or using max-width :  screen < max-width   */
    .mainboxTools {        
        width : 320px;   
             
    }
}

@media screen and (min-width: 400px) {
    .mainboxTools {
        width : 480px;             
    }
    
}

@media screen and (min-width: 500px) {
    .mainboxTools {        
        width : 480px;             
    }
}


@media screen and (min-width: 501px) {
    .mainboxTools {
        width : 800px;        
        position : relative;
        left : 150px;
    }
    
}

@media screen and (min-width: 1000px) {
    .mainboxTools {
        width : 1200px;
        position : none;
        left : 150px;
    }   
  
}

@media screen and (min-width: 1499px) {
    .mainboxTools {
        
       
    }
}



